:host {
  position: relative;
  width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.35s;
}

:host:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

h3 {
  margin: 10px 0;
}

p {
  color: #333;
}

.meal-edit{
  visibility: hidden;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  top: 0; /* Position the child div at the top edge of the parent div */
  right: 0; /* Position the child div at the right edge of the parent div */
  bottom: 0; /* Position the child div at the bottom edge of the parent div */
  left: 0;
}

.meal-edit.show {
  visibility: visible;
  display: flex;
}
